@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload a File Using MVC</h1>

    <br />
</div>
    
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input type="file" name="file" form-control" accept=".jpg, .jpeg, .png" />
                    </div>            
                    <div class="col-md-6">
                        <input type="submit" value="Upload File" class="btn btn-primary" />
                    </div>
                    <span class="text-success">
                        @ViewBag.Message
                    </span>
                </div>
            </div>
        </form>

   

    

