@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload a File Using MVC</h1>

    <br />

    <div class="col-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
            <div class="mb3">
                <input type="file" name="file" class="form-control" />
            </div>
            <br />
            <div class="mb3">
                <input type="submit" value="Upload File" class="btn btn-primary" />
            </div>
            <span class="text-success">
                @ViewBag.Message
            </span>
        </form>

    </div>

    
</div>
