@{
    ViewData["Title"] = "Upload File";
}



<div class="text-center">
    <h1 class="display-4">Let's upload a File'</h1>
    <p>We are learning how to upload Files in ASP .NET CORE MVC</p>

</div>
<div class="row">
    <div class="col-md-12">
        <input type="file" class="form-control" accept=".jpg, .jpeg, .png" />
    </div>
</div>